.card-scroll {
 display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;
 -webkit-overflow-scrolling: touch;

 .card {
  flex: 0 0 auto;
 }

 &::-webkit-scrollbar {
  display: none;
 }
}

/* html,
body,
#root {
 background-color: #faf5ef;
} */
